files:
{% for file in remote_syslog2_files %}
  - {{ file }}
{% endfor %}
destination:
  host: {{ remote_syslog2_destination }}
  port: {{ remote_syslog2_port }}
  protocol: tls
pid_file: /var/run/remote_syslog.pid